---
# Database-specific variables

# Container to deploy on database instance
containers:
  - name: postgres
    image: "postgres:{{ postgres_image_tag }}"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ postgres_db }}"
    restart_policy: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
