---
- name: Stop all containers
  hosts: all
  become: yes
  gather_facts: no

  tasks:
    - name: Get list of running containers
      ansible.builtin.command: docker ps -q
      register: running_containers
      changed_when: false

    - name: Stop all running containers
      ansible.builtin.command: docker stop {{ item }}
      loop: "{{ running_containers.stdout_lines }}"
      when: running_containers.stdout_lines | length > 0

    - name: Remove all containers
      ansible.builtin.command: docker rm {{ item }}
      loop: "{{ running_containers.stdout_lines }}"
      when: running_containers.stdout_lines | length > 0
      ignore_errors: yes

    - name: Display status
      ansible.builtin.debug:
        msg: "All containers stopped on {{ inventory_hostname }}"
